.tabla-carrito {
  border-collapse: collapse;
  width: 75%;
  margin: 1rem auto;
  overflow-x: auto;

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  .carrito-vacio {
    text-align: center;
    font-weight: bold;
    margin: 2rem auto;
  }
}

.contenedor {
  display: flex;
  justify-content: center;

  &__btn {
    background-color: $color-primary;
    color: white;
    font-size: small;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: $color-secondary;
    }
  }

  .empty {
    background-color: $color-third;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: orangered;
    }
  }
}

.totalEnCarrito {
  display: flex;
  padding: 1rem;
  justify-content: center;
  p {
    text-align: center;
    font-size: 1em;
    min-width: 150px;
    border: solid 1px gray;
    padding: 0.5rem;
    border-radius: 25px;
    background-color: $color-darkwhite;
  }
}

// ! ----------------breakpoint-----------------
// ! -------------------------------------------

@media (min-width: 576px) {
  .contenedor__btn {
    font-size: medium;
  }

  .total {
    p {
      font-size: 1.5em;
    }
  }
}
